/* Color variables */
:root {
    --myCyan: #5CE1E6;
    --myBlue: #152349;
    --myBlue2: #152349e3;
    --MyCyanShadow: rgb(39, 92, 136)
}

/* Texts */
h1,
h2,
h3 {
    color: white;
}

/*bg-image*/
body {
    background-image: url("../images/back_1.png");
    color: white;
}

/* Images */
#profile_icon {
    width: 600px;
    height: 300px;
}

#diary_icon {
    width: 355px;
}

#header_icon {
    width: 870px;
    height: 300px;
}

/*NavBar*/
.navbar {
    background-color: var(--myBlue);
}

.btn {
    background-color: var(--myCyan);
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--myCyan);
}

.a:active {
    color: aqua;
}


/*Body content*/
#main_content {
    background-color: var(--myBlue2);
}

#text_bg {
    background-color: var(--MyCyanShadow);
}

#body_container {
    background-color: white;
}

#diaries_section {
    height: 682px;
    width: 66%;
    overflow: auto;
}

.container {
    position: relative;
}

.box {
    position: absolute;
}

.overlay {
    z-index: 9;
}

/* Buttons */
#btn_icon {
    width: 150px;

}

#btn_body {
    margin-left: 120px;
    margin-top: 50px;
    z-index: 9;

    width: 200px;
    height: 50px;
}




/* Left */


/* Profile */


.progress {
    background-color: var(--MyCyanShadow);
    height: 20px;
    width: 200px;
}

#exp_bar {
    width: 85%;
    background-color: var(--myCyan);
}

/* Footer */
footer {
    color: white;
    background-color: var(--myBlue);
    padding: 15px;
}